.banner {
  background-image: linear-gradient(rgba(100,100,100,0.5), rgba(100,100,100,0.5)),
  url('https://images.unsplash.com/photo-1501436513145-30f24e19fcc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2520&q=80');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  width:100%;
  color: white;
}
.banner {
  padding-top: 1%;
  letter-spacing: 2px;
}
.greyfont {
  text-decoration: none;
  font-size: 30px;
  padding: 3px;
  color: white;
  opacity: 0.8;
}

.greyfont:hover {
  text-decoration: none;
  color: white;
  opacity: 0.6;
}
/*.button_option{
  display: flex;
  align-items: right;
}*/

.about-btn{
  margin-left: 5%;
  position: relative;;
  padding: 16px 17px;
  background: none;
  color: white;
  font-size: 30px;
  border: 3px solid white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-transform: uppercase;
  border-radius: 80px;
  z-index: 7;
}
.about-btn:hover{
  background: rgba(0,0,0,0.5);
  color: white;
  transition: all 0.3s;
  text-decoration: none;
}
.contact-btn{
  position: relative;
  padding: 15px 17px;
  background: none;
  color: white;
  font-size: 30px;
  border: 3px solid white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-transform: uppercase;
  border-radius: 80px;
  z-index: 20;
}

.contact-btn:hover{
  background: rgba(0,0,0,0.5);
  color: white;
  transition: all 0.3s;
  text-decoration: none;
}




