.project {
  width: 85%;
  padding: 1% 1% 1% 1%;
  margin: 0% 5%;
  display: flex;
  justify-content: space-between;
  border-radius:10px;
  opacity: 1;
  transition: opacity 1.5s 0s;
  will-change: transform;
}
.project-line-seperator{
  height: 1px;
  width: 800px;
  background: linear-gradient(130.62deg, gray 9.56%, white 94.35%);
  text-align: left;
}

.project-img{
  margin: 1px;
}

.is-visible.project {
  opacity: 1;
  transition: 1s;
}

.project > p {
  color: gray;
}

.project-title {
  color: gray;
  font-size: 24px;
  letter-spacing: 1.5px;
}

.project-title i {
  color: gray;
  font-size: 20px;
}

.project-description {
  margin-top: 8%;
  width: 100%;
  color: gray;
}

.project-items {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  pointer-events: none;
}

.project-items > * {
  pointer-events: auto;
}

.project-items:hover > * {
  transform: scale(0.8);
  opacity: 0.5;
  transition: 0.5s;
}

.project-items:hover > *:hover {
  transform: scale(1.3);
  opacity: 1;
  transition: 0.5s;
}

.project-containers{
   position: absolute;
   border-radius: 5px;
   border: 1px solid white;
   margin: 5%;
   color: grey;
   transition: 1s;
   box-shadow: 0px 0px 10px #CDCDCD;
}

.project-containers {
   position: relative;
   border-radius: 5px;
   border: 1px solid white;
   margin: 5%;
   color: grey;
   transition: 1s;
   box-shadow: 0px 0px 10px #CDCDCD;
}

.project-containers .project-img {
   height: 60vw;
   border-radius: 5px;
   transition: 1s;
}

.project-containers .project-img {
   height: 26vw;
   width: 45vw;
   border-radius: 5px;
   transition: 1s;
}

.card-info-onclick {
  position: absolute;
  border-radius: 5px;
  top:0%;
  opacity:0;
  padding: 5%;
  transition: 1s;
  align-items: left;
  background: rgba(75, 75, 75, 0.9);
  color: white;
  height: 100%;
  width: 100%;
  font-size: 10px;
  overflow-y: scroll;
}

.card-info-onclick h4 {
  font-size: 18px;
  font-weight: normal;
}

.card-info-onclick:hover {
  opacity: 1;
  transition: 1s;
}

.card-info-onclick:active {
  opacity: 1;
  transition: 1s;
}

@media (min-width: 576px) {
  .project-items {
    margin-top: 6%;
  }
  .project-containers {
    height: 19vw;
    width: 34vw;
    margin: 4%;
  }
  .project-containers {
    height: 36vw;
    width: 18vw;
    margin: 4%;
  }
  .project-containers .project-img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .project-items {
    margin-top: 6%;
    justify-content: center;
  }
  .project-containers {
    height: 19vw;
    width: 34vw;
    margin: 5%;
  }
  .project-containers {
    height: 36vw;
    width: 18vw;
    margin: 4%;
  }
  .project-containers .project-img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .project-items {
    margin-top: 6%;
  }
  .project-containers {
    height: 19vw;
    width: 33vw;
    margin: 4%;
  }
  .project-containers{
    height: 36vw;
    width: 38vw;
    margin: 4%;
  }
  .project-containers .project-img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .project-items {

  }

  .project-containers {
    height: 13vw;
    width: 22vw;
    margin: 4%;
  }
  .project-containers {
    height: 17vw;
    width: 22vw;
    margin: 4%;
  }
  .project-containers .project-img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1500px) {
  .project {
    opacity: 0;
  }
  .project-containers{
   height: 13vw;
   width: 22vw;
   margin: 4%;
  }

  .project-containers {
    height: 17vw;
    width: 22vw;
    margin: 4%;
  }

 .project-containers .project-img {
   height: 100%;
   width: 100%;
  }
}


/*.card-info-onclick::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    opacity: 0.5;
}*/





/*.project {
  width: 85%;
  padding: 1% 1% 1% 1%;
  margin: 0% 5%;
  display: flex;
  justify-content: space-between;
  border-radius:10px;
  opacity: 1;
  transition: opacity 1.5s 0s;
  will-change: transform;
}

.is-visible.project {
  opacity: 1;
  transition: 1s;
}

.project > p {
  color: gray;
}

.bookmark-title {
  text-align: left;
  color: gray;
  font-size: 24px;
  margin-bottom: 15px;
  letter-spacing: 1.5px;
}

.bookmark-title i {
  color: black;
  font-size: 20px;
}

.bookmark-description {
  width: 100%;
  color: gray;
}

.project-examples {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  pointer-events: none;
  margin-top: 4%;
}

.project-examples > * {
  pointer-events: auto;
}

.project-examples:hover > * {
  transform: scale(0.8);
  opacity: 0.5;
  transition: 0.5s;
}

.project-examples:hover > *:hover {
  transform: scale(1.3);
  opacity: 1;
  transition: 0.5s;
}

.project-examples {
   position: relative;
   border-radius: 5px;
   border: 1px solid white;
   margin: 3%;
   color: grey;
   transition: 1s;
   box-shadow: 0px 0px 10px #CDCDCD;
}

.project-examples {
   position: relative;
   border-radius: 5px;
   border: 1px solid white;
   margin: 3%;
   color: grey;
   transition: 1s;
   box-shadow: 0px 0px 10px #CDCDCD;
}

.project-examples .bookmark-img {
   height: 60vw;
   border-radius: 5px;
   transition: 1s;
}

.project-examples .bookmark-img {
   height: 36vw;
   width: 65vw;
   border-radius: 5px;
   transition: 1s;
}

.card-info-onclick {
  position: absolute;
  border-radius: 5px;
  top:0%;
  opacity:0;
  padding: 5%;
  transition: 1s;
  align-items: center;
  background: rgba(75, 75, 75, 0.9);
  color: white;
  height: 100%;
  width: 100%;
  font-size: 10px;
  overflow-y: scroll;
}

.card-info-onclick h4 {
  font-size: 18px;
  font-weight: normal;
}

.card-info-onclick:hover {
  opacity: 1;
  transition: 1s;
}

.card-info-onclick:active {
  opacity: 1;
  transition: 1s;
}

@media (min-width: 576px) {
  .project-examples {
    margin-top: 3%;
  }
  .project-examples {
    height: 19vw;
    width: 34vw;
    margin: 2%;
  }
  .project-examples {
    height: 36vw;
    width: 18vw;
    margin: 2%;
  }
  .project-examples .bookmark-img {
    height: 100%;
    width: 100%;
  }
  .project-examples .bookmark-img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .project-examples {
    margin-top: 3%;
    justify-content: center;
  }
  .project-examples {
    height: 19vw;
    width: 34vw;
    margin: 3%;
  }
  .project-examples {
    height: 36vw;
    width: 18vw;
    margin: 2%;
  }
  .project-examples .bookmark-img {
    height: 100%;
    width: 100%;
  }
  .project-examples .bookmark-img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .project-examples {
    margin-top: 3%;
  }
  .project-examples {
    height: 19vw;
    width: 33vw;
    margin: 2%;
  }
  .project-examples {
    height: 36vw;
    width: 18vw;
    margin: 2%;
  }
  .project-examples .bookmark-img {
    height: 100%;
    width: 100%;
  }
  .project-examples .bookmark-img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .project-examples {
    margin-top: 0%;
  }
  .project-examples {
    height: 13vw;
    width: 23vw;
    margin: 2%;
  }
  .project-examples {
    height: 17vw;
    width: 8.5vw;
   margin: 1.5%;
  }
  .project-examples .bookmark-img {
    height: 100%;
    width: 100%;
  }
  .project-examples .bookmark-img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1500px) {
  .project {
    opacity: 0;
  }
  .project-examples .bookmark-img {
   height: 13vw;
   width: 23vw;
   margin: 1.5%;
  }

  .project-examples {
    height: 17vw;
    width: 8.5vw;
   margin: 1.5%;
  }

 .project-examples .bookmark-img {
   height: 100%;
   width: 100%;
  }
  .project-examples .bookmark-img {
   height: 100%;
   width: 100%;
  }
}


.card-info-onclick::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    opacity: 0.5;
}
*/
