.ml4 {
  position: relative;
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
  font-weight: 400;
  font-size: 3.5em;
  margin-left: 37%;
  margin-top: 25%;
  font-family: 'Oswald', sans-serif;
}
.ml4 .letters {
  position: absolute;
  opacity: 0;
}
